<footer>
    <div class="f-info">
        <div class="f-socials">
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-square-twitter"></i></a>
        </div>
        
        <div class="own">copy rights reserved by : &copy; CAMELON</div>
        <div class="f-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>